/* Size for brand */
/* Ensures the brand name appears prominently */
nav .navbar-brand {
    font-size: xxx-large; 
}

/* Makes navigation links visually distinct */
.navbar-nav .nav-item .nav-link {
    font-weight: bold; 
    font-size: x-large;
}

/* Colors for brand */
nav .navbar-brand .blue {
    color: #537fbe;
}

nav .navbar-brand .red {
    color: #ea433b;
}

nav .navbar-brand .yellow {
    color: #f5b82e;
}

nav .navbar-brand .green {
    color: #2e944b;
}
/* Main content styling */
.Main {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 400px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 90%;
}
.mb-3-custom-width {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.center2 {
    margin: 25px auto;
    text-align: center;
    font-size: larger; 
}

.btnsp {
    display: block;
    margin: 20px auto; 
    width: 40%; 
    font-size: larger; 
    font-weight: bold;
}
.gray-input {
    color: gray;
}
.note {
    font-weight: bold;
    color: red;
    margin-left: 20px;
}
@media (min-width: 320px) {
    .screensize0 {
        width: 80%;
        font-size: 10px;
    }

    .scrensize1 {
        width: 50%;
    }

    .screensize2 {
        font-size: 10px;
    }

    .screensize3 {
        width: 90%;
        font-size: 10px;
    }
}

@media (min-width: 600px) {
    .screensize0 {
        width: 65%;
        font-size: medium;
    }

    .scrensize1 {
        width: 50%;
    }

    .screensize2 {
        font-size: 15px;
    }

    .screensize3 {
        width: 75%;
        font-size: 15px;
    }
}
